@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Lora:wght@400;500;600;700&display=swap");
body {
  background: lightcyan;
  margin: 0;
  font-family: "Lato";
  font-size: 1rem;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
header a {
  text-decoration: none;
  color: blueviolet;
  text-transform: capitalize;
  display: inline-block;
}
header h1,
header h2 {
  margin: 0;
}
header span {
  display: block;
  line-height: 1em;
}
header span:first-child {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
header span:last-child {
  font-size: 3.5rem;
  font-weight: 800;
}
header h2 {
  font-size: 1.2em;
  font-weight: 400;
}
footer {
  background: #111;
  color: #bbb;
  padding: 2rem;
  text-align: center;
  margin-top: auto;
}

footer p {
  margin: 0;
  padding: 0;
}
.page-content {
  max-width: 1200px;
  margin: 20px auto 80px;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}
